<% provide(:title, "Sign up your shop") %>
<h1>Sign up your shop</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@shop, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.label :phone %>
      <%= f.phone_field :phone, class: "form-control" %>

      <%= f.label :address %>
      <%= f.text_area :address, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>

      <%= f.label :tax_code %>
      <%= f.text_field :tax_code, class: "form-control" %>

      <%= f.submit "Create your shop", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

