<% provide(:title, "Categories") %>

<div style="text-align: center;"><h1>List categories</h1></div>
<%= link_to "New category", new_category_path, class: "btn btn-primary" %>

<table class="table table-striped table-bordered" style="margin-top: 10px">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |c| %>
    <tr>
      <th scope="row"><%= c.id %></th>
      <td><%= c.name %></td>
      <td><%= c.description %></td>
      <td><%= link_to "Delete", category_path(c), method: :delete, data: { confirm: "Are you sure?" } %>
        | <%= link_to "Edit", edit_category_path(c) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div style="text-align: center;"><%= will_paginate %></div>
