<% provide(:title, "Create product") %>
<h1>Create product</h1>

<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name, "Product name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>

    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>

    <%= f.label :total, "quantity" %>
    <%= f.text_field :total, class: "form-control" %>

    <span class="picture">
      <%= f.file_field :picture %>
    </span>

    <%= f.submit "Create product", class: "btn btn-primary" %>
  </div>
<% end %>