<% provide(:title, @product.name) %>
<div style="text-align: center;"><h1>Product details</h1></div>

<div class="row">
  <div class="col-md-3 col-sm-6" style="margin-top: 20px">
    <div class="card">
      <img src="<%= @product.picture %>" class="card-img-top" style="width: 212px; height: 200px" alt="product">
      <div class="card-body">
        <h5 class="card-title" style="padding-left: 5px">Name: <%= @product.name %></h5>
        <h5 class="card-text" style="padding-left: 5px">Price: <%= @product.price %></h5>
        <h5 class="card-text" style="padding-left: 5px">Description: <%= @product.description %></h5>
        <h5 class="card-text" style="padding-left: 5px">Quantity: <%= @product.total %></h5>
        <%= link_to "Delete", @product, method: :delete, data: { confirm: "Are you sure?" },
                    class: "btn btn-danger" %>
        <%= link_to "Edit", edit_product_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
