<% provide(:title, @product.name) %>

<div><h1>Product detail</h1></div>
<div class="card">
  <div class="row">
    <aside class="col-sm-5 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="#"><img src="<%= @product.picture %>" alt="<%= @product.name %>"></a></div>
        </div> <!-- slider-product.// -->
      </article> <!-- gallery-wrap .end// -->
    </aside>
    <aside class="col-sm-7">
      <article class="card-body p-5">
        <h3 class="title mb-3"><%= @product.name %></h3>
        <p class="price-detail-wrap">
          <span class="price h3 text-warning">
            <span class="currency"></span><span class="num">
              <%= number_to_currency(@product.price, unit: "", precision: 0) %> VND
            </span>
          </span>
        </p> <!-- price-detail-wrap .// -->
        <dl class="item-property">
          <dt>Description</dt>
          <dd><p><%= @product.description %></p></dd>
        </dl>
        <dl class="param param-feature">
          <dt>Delivery</dt>
          <dd>Viet Nam, Russia, USA, and Europe</dd>
        </dl>  <!-- item-property-hor .// -->
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <dl class="param param-inline">
              <dt>Quantity: </dt>
              <dd>
                <select class="form-control form-control-sm" style="width:70px;">
                  <option> 1 </option>
                  <option> 2 </option>
                  <option> 3 </option>
                </select>
              </dd>
            </dl>  <!-- item-property .// -->
          </div> <!-- col.// -->
        </div> <!-- row.// -->
        <hr>
        <% if @correct_product %>
          <%= link_to "delete", @product, method: :delete, data: { confirm: "Are you sure?" },
                      class: "btn btn-lg btn-danger text-uppercase" %>
          <%= link_to "edit", edit_product_path, class: "btn btn-lg btn-success text-uppercase" %>
        <% end %>
        <%= button_to "ADD TO CART", line_items_path(:product_id => @product.id), class: "btn btn-lg btn-primary" %>
      </article> <!-- card-body.// -->
    </aside> <!-- col.// -->
  </div> <!-- row.// -->
</div> <!-- card.// -->
