<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hopee Shopping Cart", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in_shop? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Shop account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_shop %></li>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Categories", categories_path %></li>
              <li><%= link_to "Settings", edit_shop_path(current_shop) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out shop", logout_shop_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login shop", login_shop_path %></li>
        <% end %>
        <% if logged_in_shop? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Products <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li style="padding-left: 20px"><h4>All categories</h4></li>
              <% categories = current_shop.categories %>
              <% categories.each do |c| %>
                <li class="divider"></li>
                <li><%= link_to c.name, category_path(c) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li><%= link_to "Sign up shop", signup_shop_path %></li>
      </ul>
    </nav>
  </div>
</header>
